.main {
  background: url('./game-of-thrones-poster_85627-1920x12001-1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.container {
  max-width: 200px;
  margin: 0 auto;
  background-color: #fff;
}


.content-wrapper {
  background-color: #fff;
  max-width: 200px;
}

.wrapper {

  background-color: #fff;
}